.project{
    background-color: #f2e5e3;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#projects{
    background-color: #d4ec4e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-info{
  color: #ca6565;
  font-size: 2rem; 
  text-align: left; 
  
}
.project-info h4:hover{
  text-decoration: underline;
}